#virtual env
venv

#data
data
init_mysql

#dagster
dagster_home/.logs_queue
dagster_home/.nux
dagster_home/.telemetry
dagster_home/logs

#env
env
spark_master_env
spark_worker_env

# etl_pipeline
etl_pipeline/.Trash-0
etl_pipeline/.ipynb_checkpoints
etl_pipeline/etl_pipeline/resources/.ipynb_checkpoints