# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_AUTH_METHOD=

# Dagster
DAGSTER_PG_HOSTNAME=
DAGSTER_PG_USERNAME=
DAGSTER_PG_PASSWORD=
DAGSTER_PG_DB=
DAGSTER_DBT_PARSE_PROJECT_ON_LOAD=

# MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# dbt
DBT_HOST=
DBT_USER=
DBT_PASSWORD=
DBT_DATABASE=
DBT_SCHEMA=

# MinIO
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
DATALAKE_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Metabase
MB_DB_TYPE=
MB_DB_DBNAME=
MB_DB_PORT=
MB_DB_USER=
MB_DB_PASS=
MB_DB_HOST=
